.sidebar {
    width: 250px;
    height: 100vh;
    background-color:  #fff;
    color:  #17b722;
    padding: 20px;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    position: fixed;
    top: 0;
    right: 0;
  }
  
  .sidebar h2 {
    font-size: 1.5rem;
    margin-bottom: 20px;
   
  }
  
  .sidebar nav {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
  
  .sidebar-link {
    color:  #17b722;
    text-decoration: none;
    font-size: 1.1rem;
    padding: 10px 15px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    border: 2px solid #ecf0f1;
    border-radius: 5px;
  }
  
  .sidebar-link:hover {
    background-color: #34495e;
  } 
  
 .active-link {
    font-weight: bold;
    color: #1abc9c;
    /* background-color: #34495e; */
    border: 2px solid #ecf0f1;
    border-radius: 5px;
    padding: 10px 15px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
  }
  